body {
    background-color: #f8f9fa;
    padding: 20px 0;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    padding: 30px;
    margin: 20px auto;
}
.form-header {
    border-bottom: 2px solid #333;
    margin-bottom: 30px;
    padding-bottom: 10px;
    background: linear-gradient(339deg, rgba(222,176,5,1) 15%, rgba(0,55,170,1) 45%);

}
.form-label {
    font-weight: 500;
    color: #333;
}
.gender-section {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    margin: 20px 0;
}
.btn-navigation {
    margin-top: 20px;
}
header{
    background-image: url('images/senacAmpliada_LE_ml_resize_x4\ -\ Copia.jpg');
    background-repeat: no-repeat;
    
}
.logo img{
    width: 30%;
}
.container{
    display: flex;
}
