{{>partials/header}}

<div class="form">
    <form action="/etapa5" method="POST">
    <p>Cliente ID: {{id_cliente}}</p>
        <h4>Formato das Unhas</h4>
        <div class="row">
            <div class="col-md-3 text-center">
                <label for="unha_caracol">
                    <img src="/images/unha_caracol.png" alt="Unha Caracol" class="img-fluid mb-2">
                    <p>Unha Caracol</p>
                </label>
            </div>

            <div class="col-md-3 text-center">
                <label for="unha_cunha">
                    <img src="/images/unha_cunha.png" alt="Unha Cunha" class="img-fluid mb-2">
                    <p>Unha Cunha</p>
                </label>
            </div>

            <div class="col-md-3 text-center">
                <label for="unha_funil">
                    <img src="/images/unha_funil.png" alt="Unha Funil" class="img-fluid mb-2">
                    <p>Unha Funil</p>
                </label>
            </div>

            <div class="col-md-3 text-center">
                <label for="unha_gancho">
                    <img src="/images/unha_gancho.png" alt="Unha Gancho" class="img-fluid mb-2">
                    <p>Unha Gancho</p>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 text-center">
                <label for="unha_involuta">
                    <img src="/images/unha_involuta.png" alt="Unha Involuta" class="img-fluid mb-2">
                    <p>Unha Involuta</p>
                </label>
            </div>

            <div class="col-md-3 text-center">
                <label for="unha_normal">
                    <img src="/images/unha_normal.png" alt="Unha Normal" class="img-fluid mb-2">
                    <p>Unha Normal</p>
                </label>
            </div>

            <div class="col-md-3 text-center">
                <label for="unha_telha">
                    <img src="/images/unha_telha.png" alt="Unha Telha" class="img-fluid mb-2">
                    <p>Unha Telha</p>
                </label>
            </div>

            <div class="col-md-3 text-center">
                <label for="unha_torques">
                    <img src="/images/unha_torques.png" alt="Unha Torques" class="img-fluid mb-2">
                    <p>Unha Torques</p>
                </label>
            </div>
        </div>

        <div class="titulo2 text-center">
            <h2>Artelhos</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-2">
                <h3>PD</h3>
                <div class="form-check">
                    <label class="form-check-label" for="halux_pd">Hálux</label>
                    <select name="PD_halux" id="PD_halux" required>
                        <option value="Normal">Normal</option>
                        <option value="Involuta">Involuta</option>
                        <option value="Telha">Telha</option>
                        <option value="Funil">Funil</option>
                        <option value="Gancho">Gancho</option>
                        <option value="Torquês">Torquês</option>
                        <option value="Caracol">Caracol</option>
                        <option value="Cunha">Cunha</option>
                    </select>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="2_pd">2°</label>
                    <label class="form-check-label" for="halux_pd">Hálux</label>
                    <select name="PD_2" id="PD_2" required>
                        <option value="Normal">Normal</option>
                        <option value="Involuta">Involuta</option>
                        <option value="Telha">Telha</option>
                        <option value="Funil">Funil</option>
                        <option value="Gancho">Gancho</option>
                        <option value="Torquês">Torquês</option>
                        <option value="Caracol">Caracol</option>
                        <option value="Cunha">Cunha</option>
                    </select>
                    </select>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="3_pd">3°</label>
                    <select name="PD_3" id="PD_3" required>
                        <option value="Normal">Normal</option>
                        <option value="Involuta">Involuta</option>
                        <option value="Telha">Telha</option>
                        <option value="Funil">Funil</option>
                        <option value="Gancho">Gancho</option>
                        <option value="Torquês">Torquês</option>
                        <option value="Caracol">Caracol</option>
                        <option value="Cunha">Cunha</option>
                    </select>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="4_pd">4°</label>
                    <select name="PD_4" id="PD_4" required>
                        <option value="Normal">Normal</option>
                        <option value="Involuta">Involuta</option>
                        <option value="Telha">Telha</option>
                        <option value="Funil">Funil</option>
                        <option value="Gancho">Gancho</option>
                        <option value="Torquês">Torquês</option>
                        <option value="Caracol">Caracol</option>
                        <option value="Cunha">Cunha</option>
                    </select>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="5_pd">5°</label>
                    <select name="PD_5" id="PD_5" required>
                        <option value="Normal">Normal</option>
                        <option value="Involuta">Involuta</option>
                        <option value="Telha">Telha</option>
                        <option value="Funil">Funil</option>
                        <option value="Gancho">Gancho</option>
                        <option value="Torquês">Torquês</option>
                        <option value="Caracol">Caracol</option>
                        <option value="Cunha">Cunha</option>
                    </select>
                </div>
            </div>

            <div class="col-md-2">
                <h3>PE</h3>
                <div class="form-check">
                    <label class="form-check-label" for="halux_pe">Hálux</label>
                    <select name="PE_halux" id="PE_halux" required>
                        <option value="Normal">Normal</option>
                        <option value="Involuta">Involuta</option>
                        <option value="Telha">Telha</option>
                        <option value="Funil">Funil</option>
                        <option value="Gancho">Gancho</option>
                        <option value="Torquês">Torquês</option>
                        <option value="Caracol">Caracol</option>
                        <option value="Cunha">Cunha</option>
                    </select>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="2_pe">2°</label>
                    <select name="PE_2" id="PE_2" required>
                        <option value="Normal">Normal</option>
                        <option value="Involuta">Involuta</option>
                        <option value="Telha">Telha</option>
                        <option value="Funil">Funil</option>
                        <option value="Gancho">Gancho</option>
                        <option value="Torquês">Torquês</option>
                        <option value="Caracol">Caracol</option>
                        <option value="Cunha">Cunha</option>
                    </select>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="3_pe">3°</label>
                    <select name="PE_3" id="PE_3" required>
                        <option value="Normal">Normal</option>
                        <option value="Involuta">Involuta</option>
                        <option value="Telha">Telha</option>
                        <option value="Funil">Funil</option>
                        <option value="Gancho">Gancho</option>
                        <option value="Torquês">Torquês</option>
                        <option value="Caracol">Caracol</option>
                        <option value="Cunha">Cunha</option>
                    </select>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="4_pe">4°</label>
                    <select name="PE_4" id="PE_4" required>
                        <option value="Normal">Normal</option>
                        <option value="Involuta">Involuta</option>
                        <option value="Telha">Telha</option>
                        <option value="Funil">Funil</option>
                        <option value="Gancho">Gancho</option>
                        <option value="Torquês">Torquês</option>
                        <option value="Caracol">Caracol</option>
                        <option value="Cunha">Cunha</option>
                    </select>
                </div>

                <div class="form-check">
                    <label class="form-check-label" for="5_pe">5°</label>
                    <select name="PE_5" id="PE_5" required>
                        <option value="Normal">Normal</option>
                        <option value="Involuta">Involuta</option>
                        <option value="Telha">Telha</option>
                        <option value="Funil">Funil</option>
                        <option value="Gancho">Gancho</option>
                        <option value="Torquês">Torquês</option>
                        <option value="Caracol">Caracol</option>
                        <option value="Cunha">Cunha</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="Onicoatrofia" name="Onicoatrofia" value="true">
                    <label class="form-check-label" for="onicoatrofia">Onicoatrofia</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" id="Onicocriptose" name="Onicocriptose" value="true">
                    <label class="form-check-label" for="onicocriptose">Onicocriptose</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" id="Onicorrexe" name="Onicorrexe" value="true">
                    <label class="form-check-label" for="onicorrexe">Onicorrexe</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" id="Granuloma" name="Granuloma" value="true">
                    <label class="form-check-label" for="granuloma">Granuloma</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" id="Onicogrifose" name="Onicogrifose" value="true">
                    <label class="form-check-label" for="onicogrifose">Onicogrifose</label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="Onicolise" name="Onicolise" value="true">
                    <label class="form-check-label" for="onicolise">Onicolise</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" id="Onicolise" name="Onicolise" value="true">
                    <label class="form-check-label" for="onicofose">Onicofose</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" id="Psoriase_ungueal" name="Psoriase_ungueal" value="true">
                    <label class="form-check-label" for="psoriase_ungueal">Psoríase ungueal</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio"  id="Onicomicose" name="Onicomicose" value="true">
                    <label class="form-check-label" for="onicomicose">Onicomicose</label>
                </div>
            </div>

            <div class="mb-3">
                <label for="outras_alteracoes" class="form-label" >Outras alterações ungueais</label>
                <textarea class="form-control" id="outras_alteracoes" rows="3"></textarea>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Próximo</button>
        </div>
    </form>
</div>

{{>partials/footer}}
