{{>partials/header}}

<div class="form">
    <form action="/etapa5" method="POST">
        <h4>Formato das Unhas</h4>
        <div class="row">
            <div class="col-md-3 text-center">
                <input class="form-check-input" type="checkbox" value="unha_caracol" id="unha_caracol">
                <label for="unha_caracol">
                    <img src="/images/unha_caracol.png" alt="Unha Caracol" class="img-fluid mb-2">
                    <p>Unha Caracol</p>
                </label>
            </div>

            <div class="col-md-3 text-center">
                <input class="form-check-input" type="checkbox" value="unha_cunha" id="unha_cunha">
                <label for="unha_cunha">
                    <img src="/images/unha_cunha.png" alt="Unha Cunha" class="img-fluid mb-2">
                    <p>Unha Cunha</p>
                </label>
            </div>

            <div class="col-md-3 text-center">
                <input class="form-check-input" type="checkbox" value="unha_funil" id="unha_funil">
                <label for="unha_funil">
                    <img src="/images/unha_funil.png" alt="Unha Funil" class="img-fluid mb-2">
                    <p>Unha Funil</p>
                </label>
            </div>

            <div class="col-md-3 text-center">
                <input class="form-check-input" type="checkbox" value="unha_gancho" id="unha_gancho">
                <label for="unha_gancho">
                    <img src="/images/unha_gancho.png" alt="Unha Gancho" class="img-fluid mb-2">
                    <p>Unha Gancho</p>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 text-center">
                <input class="form-check-input" type="checkbox" value="unha_involuta" id="unha_involuta">
                <label for="unha_involuta">
                    <img src="/images/unha_involuta.png" alt="Unha Involuta" class="img-fluid mb-2">
                    <p>Unha Involuta</p>
                </label>
            </div>

            <div class="col-md-3 text-center">
                <input class="form-check-input" type="checkbox" value="unha_normal" id="unha_normal">
                <label for="unha_normal">
                    <img src="/images/unha_normal.png" alt="Unha Normal" class="img-fluid mb-2">
                    <p>Unha Normal</p>
                </label>
            </div>

            <div class="col-md-3 text-center">
                <input class="form-check-input" type="checkbox" value="unha_telha" id="unha_telha">
                <label for="unha_telha">
                    <img src="/images/unha_telha.png" alt="Unha Telha" class="img-fluid mb-2">
                    <p>Unha Telha</p>
                </label>
            </div>

            <div class="col-md-3 text-center">
                <input class="form-check-input" type="checkbox" value="unha_torques" id="unha_torques">
                <label for="unha_torques">
                    <img src="/images/unha_torques.png" alt="Unha Torques" class="img-fluid mb-2">
                    <p>Unha Torques</p>
                </label>
            </div>
        </div>

        <div class="titulo2 text-center">
            <h2>Artelhos</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-2">
                <h3>PD</h3>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="halux_pd" id="halux_pd">
                    <label class="form-check-label" for="halux_pd">Hálux</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="2_pd" id="2_pd">
                    <label class="form-check-label" for="2_pd">2°</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="3_pd" id="3_pd">
                    <label class="form-check-label" for="3_pd">3°</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="4_pd" id="4_pd">
                    <label class="form-check-label" for="4_pd">4°</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="5_pd" id="5_pd">
                    <label class="form-check-label" for="5_pd">5°</label>
                </div>
            </div>

            <div class="col-md-2">
                <h3>PE</h3>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="halux_pe" id="halux_pe">
                    <label class="form-check-label" for="halux_pe">Hálux</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="2_pe" id="2_pe">
                    <label class="form-check-label" for="2_pe">2°</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="3_pe" id="3_pe">
                    <label class="form-check-label" for="3_pe">3°</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="4_pe" id="4_pe">
                    <label class="form-check-label" for="4_pe">4°</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="5_pe" id="5_pe">
                    <label class="form-check-label" for="5_pe">5°</label>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="onicoatrofia" id="onicoatrofia">
                    <label class="form-check-label" for="onicoatrofia">Onicoatrofia</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="onicocriptose" id="onicocriptose">
                    <label class="form-check-label" for="onicocriptose">Onicocriptose</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="onicorrexe" id="onicorrexe">
                    <label class="form-check-label" for="onicorrexe">Onicorrexe</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="granuloma" id="granuloma">
                    <label class="form-check-label" for="granuloma">Granuloma</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="onicogrifose" id="onicogrifose">
                    <label class="form-check-label" for="onicogrifose">Onicogrifose</label>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="onicolise" id="onicolise">
                    <label class="form-check-label" for="onicolise">Onicolise</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="onicofose" id="onicofose">
                    <label class="form-check-label" for="onicofose">Onicofose</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="psoriase_ungueal" id="psoriase_ungueal">
                    <label class="form-check-label" for="psoriase_ungueal">Psoríase ungueal</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="onicomicose" id="onicomicose">
                    <label class="form-check-label" for="onicomicose">Onicomicose</label>
                </div>
            </div>

            <div class="mb-3">
                <label for="outros_alteracoes" class="form-label">Outras alterações ungueais</label>
                <textarea class="form-control" id="outros_alteracoes" rows="3"></textarea>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Próximo</button>
        </div>
    </form>
</div>

{{>partials/footer}}
