<footer>
<hr/>
Todos os direitos reservados

    <script src="public/js/etapa1.js"></script>
    <script src="public/js/etapa2.js"></script>
    <script src="public/js/etapa3.js"></script>
    <script src="public/js/etapa4.js"></script>
    <script src="public/js/etapa5.js"></script>
    <script src="public/js/etapa6.js"></script>
    <script src="public/js/pesquisar.js"></script>
    
</footer>
</body>
</html>